.services-content {
	display: flex;
	align-items: flex-start;
	padding-top: 25px;
	padding-bottom: 75px;
	justify-content: center;
	flex-direction: column;
	gap: 70px;
	color: rgba(38, 40, 41, 1);
}

.services-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 160px;
}

@media screen and (max-width: 1216px) {
	.services-content {
		gap: 35px;
		padding-bottom: 42px;
	}

	.services-list {
		gap: 60px;
		margin-top: 25px;
	}
}
