.project-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
}
.projects-list-container {
	display: flex;
	max-width: 1400px;
	align-items: flex-start;
	align-content: flex-start;
	gap: 22px 40px;
	flex-wrap: wrap;
}
.project-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;

	width: 680px;
	height: 300px;
}
.project-item .main-frame {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 169px;
	padding-left: 20px;
	padding-top: 15px;
}

.project-item .main-frame .title-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.project-item .main-frame .title-container .title {
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: 160%; /* 35.2px */
}

.project-item .main-frame .title-container .sub-title {
	color: var(--color-bg, #fff);
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 22.4px */
}
.project-item-button {
	display: flex;
	padding: 10px 14px;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border-radius: var(--rounding, 2px);
	background: var(--color-focus, #0591d9);
}
.project-item-button p {
	color: var(--color-bg, #fff);
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.project-list-button {
	display: flex;
	padding: 16px 24px;
	justify-content: center;
	align-items: center;
	gap: 16px;
	border-radius: var(--rounding, 2px);
	background: var(--color-focus, #0591d9);
}

.project-list-button p {
	margin: 0;
	color: var(--color-bg, #fff);
	font-family: Inter, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
