:root {
	--color-bg: #ffffff;
	--color-focus: #068bcc;
	--color-text: #37393b;
	--color-additional-text: #a0a19f;
	--margin-title: 70px;
	--color-title: #262829;
}
p {
	margin: 0;
}

.projects-content {
	display: flex;
	align-items: flex-start;
	padding-top: 25px;
	padding-bottom: 50px;
	justify-content: center;
	flex-direction: column;
	gap: 70px;
	color: rgba(38, 40, 41, 1);
}

.projects {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 70px;
}

.projects-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

.projects-title .title {
	margin: 0;
	color: var(--color-title, #262829);
	font-family: Roboto, sans-serif;
	font-size: 44px;
	font-style: normal;
	font-weight: 900;
	line-height: 130%; /* 57.2px */
	letter-spacing: 0.44px;
}

.projects-title .sub-title {
	color: var(--color-text, #37393b);
	font-family: Roboto, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 27.2px */
}
.directions-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 25px;
	width: 100%;
}

.directions-links-block {
	display: flex;
	align-items: center;
	align-content: center;
	width: 100%;
	gap: 20px 50px;
	flex-wrap: wrap;
}

.directions-links-block .link {
	border-radius: var(--rounding);
	border: 1px solid var(--primary-color);
	display: flex;
	padding: 10px 28px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.directions-links-block .link p {
	color: var(--color-title, #262829);
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 28.8px */
}

.directions-links-block .link:hover,
.directions-links-block .link.active {
	background: var(--primary-color);
}

.directions-links-block .link:hover p,
.directions-links-block .link.active p {
	color: #ffffff;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
}

.projects-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	width: 100%;
}

.projects-error {
	text-align: left;
}

.projects-error h1 {
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	color: var(--text-color)
}

.projects-list-container-mobile {
	display: none;
	width: 100%;
	margin-top: -25px;
}

.directions-links-select-mobile {
	display: none;
}

.directions-select-container {
	width: 100%;
	z-index: 2;
}

.directions-select__control {
	border: none !important;
	background-color: var(--primary-color) !important;
}

.directions-select__control-is-focused {
	border: none !important;
}

.directions-select__value-container {
	font-family: Roboto, sans-serif;
	font-size: 17px;
	font-weight: 500;
	line-height: 25px;
}

.directions-select__menu {
	font-family: Roboto, sans-serif;
	font-size: 15px;
	line-height: 20px;
}

.directions-select__single-value {
	color: #ffffff !important;
}

.directions-select__indicator-separator {
	display: none;
}

.directions-select__indicators {
	padding: 2px 8px;
	color: #ffffff !important;
}

.directions-select__option--is-selected {
	background-color: var(--primary-color) !important;
}

@media screen and (max-width: 1216px) {
	.projects-content {
		gap: 35px;
		padding-bottom: 38px;
	}

	.projects {
		gap: 60px;
	}

	.directions-links-block {
		display: none;
	}

	.directions-links-select-mobile {
		display: flex;
		width: 100%;
	}
}

@media screen and (max-width: 690px) {
	.projects-list-container {
		display: none;
	}

	.projects-list-container-mobile {
		display: flex;
	}

	.projects-list-container-mobile .mobile-swiper .swiper-slide img {
		min-height: 200px;
	}
}
