:root {
	--chakra-vh: 100dvh;
}

.jobs-modal {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.jobs-modal-overlay {
	background: rgba(0, 0, 0, 0.48);
}

.chakra-modal__content-container {
	display: flex;
	width: 100vw;
	height: var(--chakra-vh);
	position: fixed;
	left: 0;
	top: 0;
	-webkit-box-pack: center;
	justify-content: center;
	align-items: flex-start;
	overflow: auto;
	overscroll-behavior-y: none;
}

.jobs-modal-content {
	max-width: 774px;
	margin-top: 36px;
	margin-bottom: 36px;
	background-color: #ffffff;
	font-family: Roboto, sans-serif;
	padding: 65px 47px 55px;
	overflow: auto;
}

.jobs-modal-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

.jobs-modal-header h1 {
	font-size: 26px;
	font-weight: 500;
	line-height: 42px;
}

.jobs-modal-header p {
	font-size: 22px;
	font-weight: 400;
	line-height: 35px;
}

.jobs-modal-body {
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.jobs-modal-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start !important;
	gap: 10px;
	max-width: 360px;
	margin-top: 60px;
}

.jobs-modal-close-btn {
	position: absolute;
	top: 0.5rem;
	right: 0.75rem;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	transition: background-color 0.2s ease;
	border-radius: var(--rounding);
}

.jobs-modal-close-btn:hover {
	background-color: rgba(0, 0, 0, 0.06);
}

.add-resume-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 20px;
	gap: 10px;
}

.add-resume-btn {
	font-family: Roboto, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: var(--text-color);
	margin-top: -12px;
	cursor: pointer;
	padding: 10px 20px;
	transition: all 0.2s ease-in-out;
	border-radius: var(--rounding);
	background-color: var(--widget-color);
}

.add-resume-btn:hover {
	background-color: var(--primary-color);
	color: #ffffff;
}

.add-resume-file-info {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: var(--text-secondary-color);
}

@media screen and (max-width: 800px) {
	.jobs-modal-content {
		padding: 41px 17px 24px;
	}

	.jobs-modal-footer {
		margin-top: 40px;
	}
}