.response-vacancy-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 35px;
	padding: 20px 47px 55px 47px;
}

.response-vacancy-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
	font-family: Roboto, sans-serif;
}

.response-vacancy-header h1 {
	font-size: 26px;
	font-weight: 500;
	line-height: 42px;
}

.response-vacancy-header p {
	font-size: 22px;
	font-weight: 400;
	line-height: 35px;
}

.response-vacancy-form {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.add-resume-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	margin-bottom: 20px;
}

.add-resume-btn {
	font-family: Roboto, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: var(--text-color);
	margin-top: -12px;
	cursor: pointer;
	padding: 10px 20px;
	transition: all 0.2s ease-in-out;
	border-radius: var(--rounding);
	background-color: var(--widget-color);
}

.add-resume-btn:hover {
	background-color: var(--primary-color);
	color: #ffffff;
}

.add-resume-file-info {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: var(--text-secondary-color);
}

.response-vacancy-footer {
	max-width: 360px;
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	justify-content: flex-end;
}

.add-resume-error {
	color: var(--error-color);
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 16px;
}

@media screen and (max-width: 690px) {
	.response-vacancy-container {
		padding: 0;
	}
}