.directions {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--margin-title, 70px);
}
.directions-title {
	align-items: center;
	display: flex;
	flex-direction: row;
}
.directions-title p {
	margin: 0;
	color: var(--color-focus, #0591d9);
	font-family: Roboto, sans-serif;
	font-size: 34px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; /* 34px */
}
.directions-main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 80px;
}
.directions-main-left-column {
	height: 550px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.directions-main-l-c-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}

.directions-main-l-c-info .title p {
	margin: 0;
	color: var(--color-title, #262829);
	font-family: Roboto, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; /* 24px */
}

.description p {
	max-width: 600px;
	margin: 0;
	color: var(--color-text, #37393b);
	font-family: Roboto, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 27.2px */
}
.directions-main-l-c-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}
.slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
}
.slider-text {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.slider-text p {
	margin: 0;
	color: var(--color-title, #262829);
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%; /* 24px */
}
.arrows {
	display: flex;
	align-items: flex-start;
	gap: 25px;
}
.directions-link-button {
	display: flex;
	padding: 16px 27px;
	justify-content: center;
	align-items: center;
	gap: 16px;
	border-radius: var(--rounding, 4px);
	background: var(--color-focus, #0591d9);
}
.directions-link-button:hover {
	border-radius: var(--rounding, 2px);
	background: #01689d;
}
.directions-link-button p {
	margin: 0;
	color: var(--color-bg, #fff);
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
