.swiper {
	width: 100%;
	height: 100%;
	border-radius: 2px;
}

.main-swiper {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.main-swiper .swiper-slide img {
	height: 100%;
	object-fit: cover;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.thumbs-swiper {
	height: 144px;
}

.thumbs-swiper .swiper-slide {
	height: 144px;
	opacity: 0.4;
	cursor: pointer;
	transition: 0.2s opacity ease;
}

.thumbs-swiper .swiper-slide:hover {
	opacity: 1;
}

.thumbs-swiper .swiper-slide-thumb-active {
	opacity: 1;
}

/* @media only screen and (max-width: 1260px) {
	.main-swiper {
		height: 400px;
	}
}

@media only screen and (max-width: 640px) {
	.main-swiper {
		height: 240px;
	}
} */
