:root {
	--color-bg: #ffffff;
	--color-focus: #068bcc;
	--color-text: #37393b;
	--color-additional-text: #a0a19f;
	--margin-title: 70px;
	--color-title: #262829;
}
p {
	margin: 0;
}

.company-content {
	display: flex;
	align-items: flex-start;
	padding-top: 25px;
	justify-content: center;
	flex-direction: column;
	gap: 70px;
	color: rgba(38, 40, 41, 1);
}

.company {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--margin-title, 70px);
}

.company-title {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
}

.company-title p {
	margin: 0;
	color: var(--color-title, #262829);
	font-family: Roboto, sans-serif;
	font-size: 44px;
	font-style: normal;
	font-weight: 900;
	line-height: 130%; /* 57.2px */
	letter-spacing: 0.44px;
}
.company-info {
	display: flex;
	align-items: flex-start;
	gap: 80px;
}

.company-info-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 25px;
}
.company-info-text p {
	white-space: nowrap;
	color: var(--color-text, #37393b);
	font-family: Roboto, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 27.2px */
}

.company-info-image img {
	width: 100%;
	object-fit: cover;
}

.company-services {
	gap: 70px;
	margin-top: 90px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.company-services-images {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	width: 100%;
}

.company-card {
	width: 100%;
	height: 100%;
	border-radius: var(--rounding, 2px);
	position: relative;
}

.company-card:hover .company-card-backdrop {
	background-color: rgba(0, 0, 0, 0);
}

.company-card-backdrop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.1);
}

.company-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.company-card p {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: Roboto;
	font-size: 23px;
	font-weight: 700;
	line-height: 35px;
	text-align: left;
	color: #ffffff;
	padding: 15px 20px;
}

.recycling-info {
	display: flex;
	justify-content: space-between;
	gap: 25px;
	width: 100%;
}

.recycling-info-block {
	width: 100%;
	border-left: 1px solid var(--primary-color);
	padding: 0 25px;
}

.recycling-info-block:last-child {
	border-right: 1px solid var(--primary-color);
}

.recycling-info-block {
	margin: 0;
	color: #37393b;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%;
}

.recycling-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 70px;
	margin-top: 90px;
}

.stats-container {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 70px;
	margin-top: 90px;
}

.rent-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 70px;
	margin-top: 90px;
}

.rent-main-content-container {
	display: flex;
	max-width: 1400px;
	gap: 13px;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}
.rent-card {
	width: 340px;
	height: 235px;
	flex-shrink: 0;
	background:
		url("../../images/default-image-1.png"),
		lightgray 50% / cover no-repeat;
	position: relative;
}

.rent-card p {
	color: var(--color-title, #262829);
	font-family: Roboto, sans-serif;
	font-size: 23px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%; /* 34.5px */
	position: absolute;
	bottom: 10px;
	left: 10px;
	margin: 0;
	padding: 5px;
}
.all-rent-cards {
	width: 340px;
	height: 235px;
	flex-shrink: 0;
	position: relative;
	border-radius: var(--rounding, 2px);
	background:
		linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
		url("../../images/default-image-1.png"),
		lightgray 50% / cover no-repeat;
}

.all-rent-cards .link {
	position: absolute;
	right: 69px;
	bottom: 101px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.all-rent-cards .link p {
	color: var(--color-bg, #fff);
	font-family: Roboto, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 32px */
}
