.card {
	position: relative;
	border-radius: var(--rounding);
	overflow: hidden;
	width: 100%;
	max-width: 680px;
}

.card-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card-header h1 {
	font-family: Roboto;
	font-size: 22px;
	font-weight: 600;
	line-height: 35px;
	text-align: left;
	color: #ffffff;
}

.card-header p {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
}

.card-button {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 14px;
	max-width: 250px;
}

.card-button svg {
	width: 24px;
	height: 24px;
}

.card-button svg path {
	stroke: rgb(255, 255, 255);
}

.card-image {
	max-height: 300px;
}

.card-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-backdrop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	background-color: rgba(0, 0, 0, 0.2);
}
