.last-projects {
	display: grid;
	grid-template-columns: 3.25fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	column-gap: 40px;
	row-gap: 30px;
	width: 100%;
}

.last-projects .swiper {
	grid-row: span 3;
}

.last-projects div:nth-child(2) {
	grid-row: span 2;
}

.last-projects .swiper .card,
.last-projects .card {
	max-width: none;
}

.last-projects .swiper .card-image,
.last-projects .card-image {
	max-height: none;
}

.last-projects .swiper {
	overflow: hidden;
}

.last-projects-button {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 52px 42px 52px 72px;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	color: #ffffff;
	border-radius: var(--rounding);
	background-color: rgba(55, 57, 59, 1);
	cursor: pointer;
}

.last-projects-button:hover {
	background-color: rgb(102, 102, 103);
}

.last-projects-button svg {
	width: 29px;
	height: 29px;
}

.last-projects-button svg path {
	stroke: rgb(255, 255, 255);
}
