.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: fixed;
    inset: 0;
    width: 100vw;
}

.modal {
    max-width: 640px;
    height: fit-content;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: var(--rounding);
    padding: 10px 0;
    margin: auto;
    z-index: 2;
    position: fixed;
    inset: 15px;
    overflow-y: auto;
}

.modal-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: auto;
}

.modal-close-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounding);
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px;
    border-width: 0;
}

.modal-close-btn:hover {
    background-color: #e2e8f0;
}

@media screen and (max-width: 490px) {
    .modal {
        max-height: 600px;
    }
}