button:hover {
	background: #01689d;
}

.form-main-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--margin-title, 70px);
	padding: 45px 38px 64px 38px;
	border-radius: var(--rounding, 2px);
	background: var(--color-bg, #fff);
	width: 100%;
}
.form-main-content-container {
	gap: 160px;
	display: inline-flex;
	padding-left: 260px;
	right: 40px;
	min-height: 1080px;
	flex-direction: column;
}

.extended-contact-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-main-content .content {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 4fr;
	align-items: flex-start;
	gap: 36px;
}

.form-main-content .content p {
	width: 424px;
	color: var(--color-text, #37393b);
	font-family: Roboto, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 27.2px */
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}

.form .three-rows {
	width: 100%;
	display: flex;
	align-items: flex-start;
	gap: 21px;
}

.form .three-rows input {
	flex: 1;
	padding: 19px 0 19px 18px;
}

.form .form-columns {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 25px;
}
.form .form-columns input,
.form .form-columns textarea {
	width: 100%;
	padding: 26px 0 21px 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 2px;
	border: 1px solid #262829;
}

.form .form-columns input::placeholder,
.form .form-columns textarea::placeholder {
	white-space: nowrap;
	color: var(--color-additional-text, #a0a19f);
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 16px */
}

.form .form-columns input:invalid,
.form .form-columns textarea:invalid {
	color: var(--color-error, #bf1308);
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 12px */
}
.form p {
	color: var(--color-text, #37393b);
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: 130%; /* 15.6px */
}

.submit-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.submit-container button {
	display: flex;
	padding: 12px 23px;
	justify-content: center;
	align-items: center;
	gap: 16px;
	border-radius: var(--rounding, 2px);
	background: var(--color-focus, #0591d9);
	color: var(--color-bg, #fff);
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.form .submit-container p {
	color: var(--color-text, #37393b);
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: 130%; /* 15.6px */
}
.submit-container p a {
	color: var(--color-text, #37393b);
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: 130%;
	text-decoration-line: underline;
}

.file-input-container {
	position: relative;
}

.file-input-label {
	cursor: pointer;
	color: var(--color-text, #37393b);
	font-family: Roboto, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 24px */
}

.photo-preview {
	max-width: 800px;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-top: 10px;
}

.photo-preview img {
	max-width: 150px;
	max-height: 100px;
}
