:root {
	--default-gap: 20px;
	--mobile-gap: 10px;
}

.header {
	width: 100%;
	box-shadow: 0 4px 4px 0 #e8e8e8;
}

.header-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 21px;
	padding-bottom: 9px;
}

.nav-links {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 65px;
}

.header-actions {
	display: flex;
	align-items: center;
	gap: 35px;
}

.nav-links a {
	color: var(--text-color);
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.nav-links a:hover,
.mobile-nav-links a:hover {
	color: var(--primary-color);
}

.nav-links a.active,
.mobile-nav-links a.active {
	color: var(--primary-color);
}

.nav-links-item {
	position: relative;
}

.nav-links-item-underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	width: 100%;
	height: 2px;
	border-radius: 8px;
	background-color: var(--primary-color);
}

.header-actions-contact {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 12px 14px !important;
}

.header-actions-contact-mobile {
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
}

.mobile-menu-container {
	display: none;
}

.menu-icon {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.menu-icon svg {
	width: 30px;
	height: 30px;
}

.mobile-nav-links ul {
	list-style: none;
	margin-top: 50px;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 36px;
}

.mobile-nav-links a {
	color: var(--text-color);
	text-align: center;
	font-family: Roboto, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 1216px) {
	.nav-links {
		gap: 50px;
	}
}

@media screen and (max-width: 931px) {
	.mobile-menu-container {
		display: flex;
	}

	.mobile-nav-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 36px;
		width: 100%;
		background-color: #ffffff;
		z-index: 10;
		position: fixed;
		top: 80px;
		left: 0;
		right: 0;
	}

	.header-navigation {
		display: none;
	}

	.mobile-nav-links.slide-in {
		transform: translateY(0);
		transition: transform 0.3s ease-in-out;
	}

	.mobile-nav-links:not(.slide-in) {
		transform: translateY(-100%);
		transition: transform 0.2s ease-in-out;
	}

	.logo-image {
		width: 35px;
		height: 44px;
	}

	.logo-image-text {
		width: 94px;
		height: 17px;
	}
}
