.about-company-main-info-2{
  display: flex;
  align-items: flex-start;
  gap: 62px;
}
.about-company-main-info-list{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-company-main-info-list button{
  justify-content: space-between;
  min-width: 480px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-text, #37393B);
}
.about-company-main-info-list button.active{
  background: var(--color-focus, #0591D9);
}
.about-company-main-info-list button.active .list-arrow {
  transform: rotate(-90deg);
}
.about-company-main-info-list button.active .list-arrow path{
  fill: #FFFFFF;
}
.list-arrow{
  align-self: end;
}
.about-company-main-info-list button p{
  margin: 0;
  color: var(--color-text, #37393B);
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 30.8px */
}

.about-company-main-text div {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.about-company-main-text div.active {
  opacity: 1;
}

.about-company-main-text{
  width: 840px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.about-company-main-text p{
  margin: 0;
  color: var(--color-text, #37393B);
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 27.2px */
}