.footer {
  background-color: #f0f0f0;
  padding: 40px 0 0 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap; /* Allow content to wrap to the next line if needed */
  white-space: nowrap;
  gap: 130px;
  padding-bottom: 90px;
  padding-top: 90px;
}

.footer-column {
  flex: auto;
  align-items: flex-start;
  text-align: start;
}

.footer-column h3 {
  margin-bottom: 10px;
}

.footer-column ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-column li {
  align-items: flex-start;
  white-space: nowrap;
}

.footer-column a {
  color: #37393B;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer-column a:hover {
  color: #007bff;
}

.footer-company {
  height: 63px;
  background-color: #37393B;
  min-width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-company p {
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer-column-name{
  color: #37393B;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logo,
.logo-image-text {
  display: flex;
  justify-content: left;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}


.address-info {
  color: #37393B;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  gap: 10px;
  display: contents;
}

.address-line-1,
.address-line-2,
.address-line-3 {
  color: #37393B;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 1070px) {
  .footer-content{
    display: block;
    padding: 16px;
    align-items: center;
  }
  .footer-column ul {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }
  .footer-column{
    gap: 15px;
  }
  .footer-content{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .address-info p{
    margin: 0;

  }
  .address-info{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}