:root {
	--default-gap: 20px;
	--mobile-gap: 10px;
}

.header {
	width: 100%;
	padding-left: 260px;
	display: flex;
	align-items: center;
	padding-top: 21px;
	padding-bottom: 9px;
	background: #ffffff;
	box-shadow: 0 4px 4px 0 #e8e8e8;
	min-height: 90px;
}

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 133px;
}

.logo {
	display: flex;
	justify-content: center;
}

.logo-wrapper {
	display: flex;
	align-items: center;
}

.logo img {
	margin-right: 10px;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 133px;
}

.nav-links {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 65px;
}

.contact-info-container a {
	color: #ffffff;
	font-family: Inter, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
}

.nav-links a {
	color: #37393b;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
}

.contact-info {
	display: flex;
	padding: 12px 14px;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	background: #0591d9;
	position: relative;
	right: 0;
	bottom: 0;
}

.contact-info-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
.contact-info:hover,
.contact-info-container:hover {
	border-radius: var(--rounding, 2px);
	background: #01689d;
}

.phone-icon {
	width: 24px;
	height: 24px;
}

.contact-info-text {
	color: #ffffff;
	font-family: Inter, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}

.phone-icon-button {
	width: 30px;
	height: 30px;
}

.mobile-menu-container {
	display: none;
	position: relative;
}

.menu-icon {
	cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 1216px) {
	.contact-info {
		display: flex;
		padding: 12px 14px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		background: none;
		border: none;
	}

	.phone-icon-button {
		width: 30px;
		height: 30px;
	}
}

@media screen and (max-width: 1070px) {
	.logo-image-text {
		display: none;
	}
}

@media screen and (max-width: 931px) {
	.header {
		padding-left: 0;
		padding-right: 0;
	}
	.mobile-menu-container {
		position: relative;
		margin-right: 15px;
	}

	.mobile-nav-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		width: 100%;
		background-color: #ffffff;
		z-index: 1;
		position: fixed;
		top: 122px;
		left: 0;
	}

	.mobile-nav-links ul {
		list-style: none;
		margin-top: 50px;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 36px;
	}

	.mobile-nav-links a {
		color: #37393b;
		text-align: center;
		font-family: Roboto, sans-serif;
		font-size: 22px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-decoration: none;
	}
	.nav-links {
		display: none;
	}

	.mobile-menu-container {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.mobile-nav-links.slide-in {
		transform: translateY(0);
		transition: transform 1s ease-in-out;
	}

	.mobile-nav-links:not(.slide-in) {
		transform: translateY(-100%);
		transition: transform 0.5s ease-in-out;
	}

	.header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	.logo,
	.logo-image-text {
		display: flex;
		justify-content: left;
	}

	.logo-wrapper {
		display: flex;
		align-items: center;
		transform: scale(0.75);
	}
}
