.main-content {
  display: flex;
  justify-content: center;
  position: relative; /* Make sure the video is positioned relative to this container */
  flex-grow: 1;
  flex-direction: column;
}

.background-container{
  background: linear-gradient(0deg, rgba(0, 8, 17, 0.2) 0%,
  rgba(0, 8, 17, 0.2) 100%),
  url('../images/background-image.png'),
  lightgray 50% / cover no-repeat;
  display: flex;
  justify-content: center;
  position: relative; /* Make sure the video is positioned relative to this container */
  flex-grow: 1;
}


.main-content-container-1 {
  gap: 20px;
  justify-content: center;
  right: 40px;
  max-width: 1920px;
  min-height: 1080px; /* Set the minimum height to match the video's resolution (1920x1080) */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative; /* To ensure the content is stacked above the video */
  z-index: 1; /* Place the content above the video */
  color: #000; /* Set a color for the text, as the video may not cover the entire container */
}
.main-content-container-2{
  padding-bottom: 160px;
  padding-top: 160px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 160px;
  padding-left: 260px;
  right: 40px;
  max-width: 1920px;
  min-height: 1080px; /* Set the minimum height to match the video's resolution (1920x1080) */
  margin: 0 auto;
  flex-direction: column;
  position: relative; /* To ensure the content is stacked above the video */
  z-index: 1; /* Place the content above the video */
  color: #000; /* Set a color for the text, as the video may not cover the entire container */
}


.main-title{

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.main-content-container p{
  margin: 0;
}
.main-title-text{
  margin: 0;
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 68px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%; /* 88.4px */
  letter-spacing: 0.68px;
}
.main-title-text-sub{
  margin: 0;
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 20px */

}
.main-items-container {
  position: absolute;
  bottom: 140px;
  display: inline-flex;
  align-items: flex-start;
  gap: 140px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

circle {
  fill: var(--color-focus, #0591D9);
  filter: drop-shadow(0px 0px 4px rgba(5, 145, 217, 0.05));
  width: 22px;
  height: 22px;
}

.text {
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.directions{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--margin-title, 70px);
}
.directions-title{
  align-items: center;
  display: flex;
  flex-direction: row;
}
.directions-title p{
  margin: 0;
  color: var(--color-focus, #0591D9);
  font-family: Roboto, sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 34px */
}
.directions-main{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
}
.directions-main-left-column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 142px;
}
.directions-main-l-c-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.title p {
  margin: 0;
  color: var(--color-title, #262829);
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 24px */
}

.description p{
  margin: 0;
  color: var(--color-text, #37393B);
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 27.2px */
}
.directions-main-l-c-links{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.slider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.slider-text{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.slider-text p{
  margin: 0;
  color: var(--color-title, #262829);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.arrows{
  display: flex;
  align-items: flex-start;
  gap: 25px;
}
.directions-link-button{
  display: flex;
  padding: 16px 27px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: var(--rounding, 4px);
  background: var(--color-focus, #0591D9);
}
.directions-link-button:hover{
  background: rgba(5, 125, 197);
}
.directions-link-button p{
  margin: 0;
  color: var(--color-bg, #FFF);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.about-company-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--margin-title, 70px);
}

.about-company-title{
  align-items: center;
  display: flex;
  flex-direction: row;
}
.about-company-title p{
  margin: 0;
  color: var(--color-focus, #0591D9);
  font-family: Roboto, sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 34px */
}
.about-company-main{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
}
.about-company-images{
  display: flex;
  align-items: flex-start;
  gap: 21px;
}
.about-company-left-image img{
  width: 320px;
  height: 442px;

}
.about-company-right-images{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.about-company-right-images img{
  width: 379px;
  height: 211px;
}
.about-company-main-info{
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.about-company-main-info p{
  margin: 0;
  color: var(--color-title, #262829);
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
}
.about-company-main-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.about-company-main-text p{
  margin: 0;
  color: var(--color-text, #37393B);
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 27.2px */
}
.about-company-main-info-2{
  display: flex;
  align-items: flex-start;
  gap: 62px;
}
.about-company-main-info-list{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-company-main-info-list button{
  justify-content: space-between;
  min-width: 480px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-text, #37393B);
}
.about-company-main-info-list button:active{
  background: var(--color-focus, #0591D9);
}
.about-company-main-info-list button:active .list-arrow {
  transform: rotate(-90deg);
}
.about-company-main-info-list button:active .list-arrow path{
  fill: #FFFFFF;
}
.list-arrow{
  align-self: end;
}
.about-company-main-info-list button p{
  margin: 0;
  color: var(--color-text, #37393B);
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 30.8px */
}
.last-projects-main-container{
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.last-projects-swiper{
  align-items: center;
  display: flex;
  width: 1040px;
  height: 545px;
  border-radius: var(--rounding, 2px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%,
    rgba(0, 0, 0, 0.20) 100%), url('../images/lastProjects.png'),
    lightgray 50% / cover no-repeat;
}
.last-projects-navigate{
  display: flex;
  width: 1040px;
  align-items: flex-start;
  gap: 943px;
}
.last-projects-navigate svg{
  width: 50px;
  height: 50px;
  align-items: center;
}
.last-projects-navigate svg path{
  fill: #FFFFFF;
}
.last-projects-info{
  padding: 15px;
  position: absolute;
  justify-content: space-evenly;
  gap: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
}
.last-projects-info > p:first-child{
  margin: 0;
  color: #FFF;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 35.2px */
}
.last-projects-swiper-right-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.last-projects-swiper-right-container .image{
  width: 320px;
  height: 375px;
  flex-shrink: 0;
  border-radius: var(--rounding, 2px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%,
    rgba(0, 0, 0, 0.20) 100%),
    url(../images/last-projects-chemical.png),
    lightgray 50% / cover no-repeat;
}
.last-projects-swiper-right-container .image p{
  margin: 12px 0 0 10px;
  color: #FFF;
  font-family: Roboto,sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 35.2px */
}
.last-projects-swiper-right-container .directions-link-button{
  width: 320px;
  height: 140px;
  border-radius: var(--rounding, 2px);
  background: #37393B;
}
.last-projects-swiper-right-container .directions-link-button:hover{
  background: rgba(55, 57, 59, 0.7);
}

.last-projects-swiper-right-container directions-link-button p {
  margin: 0;
  color: var(--color-bg, #FFF);
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}

@media screen and (max-width: 1070px) {
  .main-content-container-1{
    right: 0;
    padding-left: 15px;
  }
  .main-items-container{
    display: block;
  }
  .main-items-container span{
    color: #FFF;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .main-title-text{
    margin: 0;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%; /* 54.6px */
    letter-spacing: 0.42px;
  }
  .column{
    gap: 0;
  }
}
