:root {
	--color-bg: #ffffff;
	--color-focus: #068bcc;
	--color-text: #37393b;
	--color-additional-text: #a0a19f;
	--margin-title: 70px;
	--color-title: #262829;
}
p {
	margin: 0;
}

.projects-content {
	display: flex;
	align-items: flex-start;
	padding-top: 25px;
	justify-content: center;
	flex-direction: column;
	gap: 70px;
	color: rgba(38, 40, 41, 1);
}

.projects {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 80px;
}

.projects-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

.projects-title .title {
	margin: 0;
	color: var(--color-title, #262829);
	font-family: Roboto, sans-serif;
	font-size: 44px;
	font-style: normal;
	font-weight: 900;
	line-height: 130%; /* 57.2px */
	letter-spacing: 0.44px;
}

.projects-title .sub-title {
	color: var(--color-text, #37393b);
	font-family: Roboto, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 27.2px */
}
.directions-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--margin-title-min, 25px);
}

.directions-links-block {
	display: flex;
	width: 1177px;
	align-items: center;
	align-content: center;
	gap: 20px 50px;
	flex-wrap: wrap;
}

.directions-links-block .link {
	border-radius: var(--rounding, 2px);
	border: 1px solid var(--color-focus, #0591d9);
	display: flex;
	padding: 10px 28px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.directions-links-block .link p {
	color: var(--color-title, #262829);
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 28.8px */
}
.directions-links-block .link:hover,
.directions-links-block .link:active {
	border-radius: var(--rounding, 2px);
	background: #01689d;
}
.directions-links-block .link:hover p,
.directions-links-block .link:active p {
	color: var(--color-bg, #fff);
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 28.8px */
}

.project-list-container {
	display: flex;
	width: 1400px;
	align-items: flex-start;
	align-content: flex-start;
	gap: 22px 40px;
	flex-wrap: wrap;
}
.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
}
