.certificates-content {
    display: flex;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 75px;
    justify-content: flex-start;
    flex-direction: column;
    gap: 70px;
    color: var(--text-color);
    min-height: 80vh;
}

.certificates-title {
    font-family: Roboto, sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height: 57px;
    letter-spacing: 0.01em;
    text-align: left;
}

.certificates-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.certificates-list-title {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.01em;
}

.certificates-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.documents-empty-wrapper h2 {
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
}