.news-content {
	display: flex;
	align-items: flex-start;
	padding-top: 25px;
	padding-bottom: 75px;
	justify-content: center;
	flex-direction: column;
	gap: 70px;
	color: rgba(38, 40, 41, 1);
}

.news-big-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 2.75fr 1.25fr;
	column-gap: 40px;
}

.news-small-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.news-list {
	margin-top: 90px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 40px;
	row-gap: 20px;
}

.news-pagination {
	display: flex;
	align-items: center;
	align-self: center;
	gap: 15px;
	padding: 0;
	margin: 0;
}

.news-pagination-page {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	cursor: pointer;
}

.news-pagination-page:hover {
	color: var(--primary-color);
}

.news-pagination-page.selected {
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	color: var(--primary-color);
}

.news-pagination-next-button {
	margin-left: 45px;
	cursor: pointer;
}

.news-pagination-next-button.disabled {
	cursor: not-allowed;
	pointer-events: none;
}

.news-pagination-next-button.disabled path {
	fill: var(--text-secondary-color);
}

.news-pagination-prev-button {
	margin-right: 45px;
	cursor: pointer;
}

.news-pagination-prev-button.disabled {
	cursor: not-allowed;
	pointer-events: none;
}

.news-pagination-prev-button.disabled path {
	fill: var(--text-secondary-color);
}
