.rent-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
	animation-name: appear;
	animation-duration: 200ms;
}

.rent-modal-dialog {
	width: 100%;
	max-width: 780px;
	background: white;
	position: relative;
	text-align: left;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 65px 130px 44px 47px;
}

.rent-modal-content {
	display: grid;
	grid-template-columns: auto 160px;
	column-gap: 80px;
}

.rent-modal-content-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.rent-modal-content-left h3,
.rent-modal-content-right h3 {
	font-family: Roboto;
	font-size: 26px;
	font-weight: 500;
	line-height: 42px;
	margin: 0;
}

.rent-modal-content-right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}

.rent-modal-content-contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.rent-modal-content-contacts .rent-contact {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

.rent-modal-content-contacts .rent-contact span {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: var(--text-secondary-color);
}

.rent-modal-content-contacts .rent-contact p {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	color: var(--text-color);
}

.rent-modal-footer {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	justify-content: flex-end;
}

.rent-modal-footer p {
	color: var(--text-color);
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: 130%; /* 15.6px */
}

.rent-modal-footer p a {
	color: var(--text-color);
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: 130%;
	text-decoration-line: underline;
}

.rent-modal-close {
	position: absolute;
	top: 13px;
	right: 47px;
	cursor: pointer;
	font-size: 30px;
}

.rent-modal-body {
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	margin-top: 35px;
}

.rent-modal-body input {
	font-family: Roboto;
	padding: 19px;
	width: 100%;
	border-radius: 2px;
	border: 1px solid var(--text-color);
}

.rent-add-resume {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	align-self: flex-start;
}

.rent-add-resume span {
	color: var(--text-secondary-color);
}

.rent-add-resume button {
	cursor: pointer;
	background-color: transparent;
}

.rent-add-resume button:hover {
	background-color: transparent;
}

.rent-modal-title {
	margin: 0;
}

@keyframes appear {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}
