.rent-modal-content {
	display: grid;
	grid-template-columns: auto 160px;
	column-gap: 80px;
	width: 100%;
	padding: 49px 114px 28px 31px;
}

.rent-modal-content-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.rent-modal-content-left h3,
.rent-modal-content-right h3 {
	font-family: Roboto, sans-serif;
	font-size: 26px;
	font-weight: 500;
	line-height: 42px;
	margin: 0;
}

.rent-modal-content-right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}

.rent-modal-content-contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.rent-modal-content-contacts .rent-contact {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

.rent-modal-content-contacts .rent-contact span {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: var(--text-secondary-color);
}

.rent-modal-content-contacts .rent-contact p {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	color: var(--text-color);
}

.rent-modal-footer {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	max-width: 360px;
}

.rent-modal-footer p {
	color: var(--text-color);
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: 130%; /* 15.6px */
}

.rent-modal-footer p a {
	color: var(--text-color);
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: 130%;
	text-decoration-line: underline;
}

.rent-modal-close {
	position: absolute;
	top: 13px;
	right: 47px;
	cursor: pointer;
	font-size: 30px;
}

.rent-modal-form {
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin-top: 35px;
	width: 100%;
}

.rent-modal-form input {
	font-family: Roboto, sans-serif;
	padding: 19px;
	width: 100%;
	border-radius: 2px;
	border: 1px solid var(--text-color);
}

.rent-modal-title {
	margin: 0;
}

@media screen and (max-width: 800px) {
	.rent-modal-content {
		display: flex;
		gap: 0;
		padding: 0 0 19px;
	}

	.rent-modal-content-right {
		display: none;
	}

	.rent-modal-footer {
		margin-top: 8px;
	}
}