.work-stages-other {
	display: flex;
	flex-direction: column;
	gap: 70px;
	margin-top: 90px;
	width: 100%;
}

.work-stages-other-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.work-stages-other-header-nav {
	display: flex;
	align-items: center;
	gap: 25px;
}

.work-stages-other-header-nav button {
	cursor: pointer;
}

.work-stages-other-header-nav button.disabled {
	cursor: not-allowed;
}

.work-stages-other-header-nav button.disabled path {
	fill: rgb(193, 193, 193);
}

.other-swiper .swiper-slide .card-image {
	aspect-ratio: 16 / 9;
}

@media screen and (max-width: 1216px) {
	.work-stages-other {
		margin-top: 45px;
		gap: 35px;
	}
}

@media screen and (max-width: 690px) {
	.work-stages-other {
		margin-top: 0;
		gap: 35px;
	}
}
