.services-details-content {
	display: flex;
	align-items: flex-start;
	padding-top: 25px;
	padding-bottom: 75px;
	justify-content: center;
	flex-direction: column;
	gap: 70px;
	color: var(--text-color);
}

.work-stages-gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 40px;
	row-gap: 22px;
}

.work-stages-gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--rounding);
}

.work-stages-other {
	display: flex;
	flex-direction: column;
	gap: 70px;
	margin-top: 90px;
	width: 100%;
}

.work-stages-other-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1280px;
	width: 100%;
}

.work-stages-other-header-nav {
	display: flex;
	align-items: center;
	gap: 25px;
}

.work-stages-other-header-nav button {
	cursor: pointer;
}

.work-stages-other-header-nav button.disabled {
	cursor: not-allowed;
}

.work-stages-other-header-nav button.disabled path {
	fill: rgb(193, 193, 193);
}
